tarfile==2.3
cryptography-vectors==1.5.2
django==1.0.3
easy-install==0.6
defusedxml==0.3
python==2.5.1
matthisk-httpsig==0.9.9
henosis==.9.9.10
foolscap==.9.6.9
rsanic==0.2.1
django-ca==1.8.9
django-material-orange==.9.8.9
django-revproxy==0.9.5
django-revproxy==0.9.6
flask==0.6.0
coincurve==7.9.9
pyftpdlib==.9.2.9
oodt==.9.3
crossbar==.9.14.9
crossbar==0.6.3
rpc4django==0.2.2
superset-hand==.9.10.9
pytest-devpi-server==1.0.9
quintagroup.seoptimizer==3.9.3
morepath==.9.13
django-anymail==0.3
django-anymail==1.3
ruffruffs==2.5.9
errbot==1.2.9
electrumx==1.4.0
products.ldapuserfolder==2.18
zopeskel==2.10
restview==2.8.0
pyorient==1.4.8
products-cmfcore==2.1.0beta2
jsonrpc-pyclient==.9.6.9
pando==.9.38
pando==.9.41
pycapnp==0.5.4
contestms==1.1.9
aiocouchdb==.9.5.9
smeagol==.9.0.9
onixcheck==.9.7.9
livefyre==2.9.2
pdfextract==.9.9.1
collective.xmpp.chat==0.3.0
pyramid-odesk==1.1.1
cbapi==1.3.4
cbapi==1.3.3
django-registration-redux==1.6
radicale==1.1.1
zwiki==.9.36
zwiki==.9.58
flask-async==0.6.0
pywebsite==0.1.14pre
pywebsite==0.1.9pre
tracauthopenid==0.4.3
docker-registry==0.8.0
ooniprobe==1.9.1
requests-kerberos==.9.5
telemeta==1.4.30
djangocms-highlightjs==0.3.0
pillow==2.3.0
pillow==2.3.1
pillow==2.5.1
pillow==2.5.2
pillow==2.6.0rc1
pillow==2.6.1
pillow==2.6.9
pillow==3.1.1
flask-oauthlib==0.9.0
pytest-server-fixtures==1.0.9
bjoern==1.4.1
django-sql-explorer==1.0.9
ftw-dashboard-portlets-postit==1.3.3
confidence==.9.3
django-haystack==1.0
django-fernet-fields==.9.2
vnccollab.theme==1.5.1
plone.formwidget.contenttree==1.0a3
yubiauth==0.2.2
mss==2.9.17
qi.jabberhelpdesk==.9.29
splash==2.9.0
splash==2.3.1
plumi.app==4.1
plumi.app==4.2.0
plumi.app==4.2.1
plone.mockup==2.1.2
httpsig-cffi==0.9.9
flask-micropub==0.2.1
satosa==0.6.0
django-lazysignup-redux==.9.3.9
sentry==0.12.1
sentry==6.1.0
sentry==7.3.9
sentry==7.5.4
sentry==7.6.0
sentry==8.1.3
sentry==8.1.4
sentry==8.2.1
sentry==8.2.3
sentry==8.2.4
sentry==8.3.2
sentry==8.7
django-friendship==1.1.9
dpaste==2.7
plone-app-contenttypes==1.2.14
pyamf==.9.7
django-discord-bind==.9.1.9
humblesetuptools==0.9.4
humblesetuptools==1.2
onegov.form==0.16.0
soappy==0.12.5
mtga==2.0.0beta
chanjo-report==2.3.9
ftw.meeting==1.4.0
cheetah==0.9.17rc1
ovs==1.2.9
bodhi==2.1.9
bodhi==2.9.0
sopel==4.3.9
plone.app.discussion==2.4.13
plone.app.discussion==2.4.17
mezzanine==4.2.9
django==1.11.14
django==2.9.7
django==2.0.7
django==1.11
django==1.10.2
django==1.10.6
django==1.10.7
django==1.12
django==1.11.4
django==1.11.9
django==1.9
django==1.8.17
django==20
django==1.9.10
django==1.9.12
django==2.1
django==2.9.1
django-embed-video==.9.2
cplay-ng==1.49
pypicloud==0.2.1
collective.portlet.twitter==1.0b3
katal==.9.9.5
django-crispy-forms==1.1.3
cipher.googlepam==1.5.0
bleach==2.0
pyrad==.9.5
formbar==.9.8
django-server==1
django-server==.9
pyupdater==.9.19.9
django-jet==1.9.3
django-social-auth3==0.7.1
djangorestframework==2.2.0
djangorestframework==2.3.11
djangorestframework==2.3.13
djangorestframework==2.4.3
djangorestframework==2.4.4
djangorestframework==3.1.0
yaybu==0.1.13
holocron==.9.1.9
flex==6.11.9
django-countries==3.3
pwman3==.9.3.9
jinja2==2.7.1
aldryn-django==1.8.10.0
aldryn-django==1.8.18.0
django-fiber==0.9.9.0
bigchaindb-driver==0.5.1
ftw.mail==2.2.2
pytsite==1.1
django-envelope==0.4.0
nfw==.9.9.6
gns3-gui==1.5.0
requests==2.2.9
requests==2.5.9
djangorestframework-simplejwt==1.4
insecure-package==.9.1.9
pretaweb.healthcheck==0.9
stormpath==2.9.4
stormpath==2.4.9
creavel==.9.10.9
creavel==.9.13.9
ftw.permissionmanager==2.2.1
birdhousebuilder-recipe-nginx==0.1.4
geventhttpclient==1.1.9
locustio==.9.6
django-crispy-forms-ng==.9.8.9
django-newsletter==.9.6
passlib==1.3
safety==1.8.3
tahoe-lafs==1.1.9
tahoe-lafs==1.4.0
tahoe-lafs==1.8.2
tahoe-lafs==1.9.0
mr.migrator==1.1
futoin-cid==0.8.4
flask-admin==1.2.9
flask-admin==1.5.1
pydal==15.02.26
mistune==0.7.1
lemur==0.1.4
python-augeas==0.9.9
django-storages==1.6
awscli==1.11.82
waitress==0.9.9
cosmos-wfm==2.1.0
djangosaml2==0.17.1
django-autocomplete-light==2.2.9
will==0.5.3
django-hijack==1.9.6
lambdajson==0.1.4
ckan==1.5.0
ckan==1.8.0
centrifuge==0.3.7
django-material==.9.8.9
dplib==1.3
tinydb==1.9.9
euphorie==6.0
starcluster==0.95.2
priority==1.1.9
eth-hash==0.1.4
girder==2.1.9
girder==2.4.9
hug==2.2.9
rsa==1.9
rsa==3.3
libtaxii==1.1.104
esptool==2.4.9
django-material-saldoo==.9.8.9
authbwc==0.1.3
authbwc==0.3.0
pytest-qt-app==1.0.9
homeassistant==.9.36
homeassistant==0.73.1
homeassistant==0.57
isso==.9.5
otpauth==1.9.0
httpauth==.9.1
openslides==2.0
kinto==5.0.9
python-openflow==2016.1.a1
djoser==.9.6.9
django-secure-auth==1.0
birdhousebuilder.recipe.nginx==0.1.4
django-session-security==2.3.9
django-epiced==.9.2.9
django-initial-avatars==.9.3
django-initial-avatars==.9.4.9
html5lib==.9.99999998
html5lib==1.1
html5lib==1.0b8
pyldap==2.0.0pre05
pootle==2.8.0rc5
pootle==2.8.0rc6
pootle==2.7
pootle==2.7.2
python-otr==1.0.9
easy-install==.9.6
fresco==0.5.1
fresco==0.5.4
phileo==.9.2
django-guts==0.1.0
peppercorn==.9.4
py-espeak-ng==1.48.9
trio-websockets==4.9
avocado-framework==.9.16.9
drf-tracking==1.2.9
apidev-coop==1
apidev-coop==.9
python-libtorrent==1.9.5
plone-app-users==1.9.4
django-sticky-uploads==.9.1.9
web.py==.9.38
rauth==.9.6.9
z3c.form==2.4.1
rtv==1.12.0
django-filebrowser-no-grappelli-staff==3.4.1
buildbot==1.2.9
django-anonymizer==.9.3
irc3==0.4.3
products.cmfplone==5.1b1
oauthlib==.9.6.9
setup-tools==1
setup-tools==.9
plone-app-discussion==2.4.13
celery==4.1
celery==4.9.0
ftw.dashboard.dragndrop==1.5.0
collins-client==2.0.9
superset-tddv==.9.10.9
cryptography==0.9.0
cryptography==1.9.1
collective-noticeboard==0.7.0
spud==.9.7
pytest-git==1.0.9
twilio==3.4.9
bbcode==1.9.8
django-user-accounts==2.9.1
pyradiomics==1.1.0
pmr2.oauth==0.4.1
gandi.cli==.9.9
products.cmfuid==2.1.0beta2
django-lfs==0.6.8
qi-jabberhelpdesk==.9.29
astropy==3.9.0
plone.dexterity==2.2.9
products.poi==2.2.2
pypiserver==1.1.6
hydroshare==1.9.4
hydroshare==1.9.5
deis==1.3.0
pysandbox==1.9.1
pysandbox==1.9.2
pysandbox==1.4
pysandbox==1.5
tiddlyweb==1.2.17
urllib==1
urllib==.9
django-allauth-underground==.9.27.9
plone.openid==2.9.1
collective.js.datatables==4.1.0
urlib3==1
urlib3==.9
html5==.9.99999998
django-uni-form==.9.8.9
py3web==.9.20
django-anonymizer-compat==.9.3
tuf==1.2
mxnet==0.9.9
django-select2==5.6.9
pyro4==4.71
cloudinary==1.9.20
pytest-verbose-parametrize==1.0.9
pinax-likes==.9.2
pcp==2.1.910
plomino==1.17
plomino==1.5.2
nsupdate==.9.2.9
nsupdate==.9.7.9
nsupdate==0.9.0
indico==2.9.1
django-selectable==0.5.1
codalab==0.2.32
django-watchman==.9.9.9
djangae==0.9.3
django-rated==1.1.1
collective.noticeboard==0.7.0
swift==2.5.9
django-ninecms==0.4.5b
django-smart-selects==1.5.0
django-access-tokens-py3==0.9.1
tensorflow==1.9.9
dateable-chronos==0.7.1
sftp-cloudfs==0.13.0
bzip==1
bzip==.9
plone-dexterity==2.2.9
stormpath-sdk==2.4.9
cryptacular==1.1
telnet==1
telnet==.9
django-access-tokens==0.9.1
products.ploneformgen==1.8.0
ansigenome==.9.5.9
plone.app.contenttypes==1.2.14
coveralls==0.1.0
ziirish==0.0.7.0
ziirish==.9.0.9
ziirish==.9.2.9
pyvisa==.9.8
bise.theme==2.3
django-fluent-comments==1.9.0
setuptools==2.9
aiohttp-auth-autz==.9.1.9
poorwsgi==1.9.1
pyramid==1.6a2
cfscrape==1.6.7
cfscrape==1.7
ansible==1.2.2
ansible==1.5.3
ansible==1.5.4
ansible==1.6.3
ansible==1.6.5
ansible==1.6
ansible==1.7.0
ansible==1.8.2
ansible==2.2.0
ansible==2.3.0
ddtrace==.9.10.9
soapfish==.9.5.9
confidant==1.1.13
products-ploneformgen==1.8.0
dateable.chronos==0.7.1
pymemcache==1.3.5
annotator==0.11.1
pycares==2.1.0
collective.tablepage==.9.2
flask-images==1.1.2
collective.documentviewer==1.5.0
python-saml==2.1.5
python-saml==2.1.8
django-lazysignup==.9.3.9
peewee==2.9.9
python3-ldap==0.9.5.3
pycryptodome==3.6.5
plone.app.event==2.9
yasha==3.9
acqusition==1
acqusition==.9
httplib2==0.9.1
autobahn==.9.14.9
autobahn==0.6.3
collective.contact.core==1.9
oci-cli==2.4.9
genshi==0.6.0
plone.app.content==3.3.0
pytest-shutil==1.0.9
jose==.9.2.9
superset==.9.10.9
jinja==2.7.1
jinja==2.7.2
bepasty==.9.2.9
plone-app-event==2.9
cssutils==0.9.6a2
django-basicauth==0.4.1
django-social-auth==0.7.1
pyjwt==0.9.9
pyjwt==1.5.0
ptah==0.3.2
pillow-simd==2.3.1
pillow-simd==2.5.1
pillow-simd==2.5.2
pillow-simd==2.6.0rc1
pillow-simd==2.6.1
pillow-simd==2.6.9
pillow-simd==3.1.0
pillow-simd==3.1.1
bok-choy==0.5.0
web-py==.9.38
sevabot==1.0
maxminddb==1.1.1
products.cmfquickinstallertool==3.9.13
django-dajaxice-me==0.1.6
clam==0.9.9
clam==0.9.10
featureserver==1.5
pytest-profiling==1.0.9
mini-amf==.9.7
django-python3-ldap==0.9.4
django-python3-ldap==0.9.7
textract==1.4.9
django-modern-rpc==0.8.0
gevent==1.2a1
notifications-python-client==4.7.0
newsletter==0.1.17pre
mitmproxy==.9.16
pex==0.5.5
js-videojs==4.12.4
mgp2pdf==.9.9
werkzeug==.9.7
noiseprotocol==0.2.0
bodhi-server==2.1.9
pylons==0.9.6.0
pylons==0.9.6
pylons==1.0.1RC1
pylons==1.0.1rc1
pylons==1.9.1
urllib3==1.17
urllib3==1.18
notable==.9.9.5
brasil.gov.portal==1.5.0
metadataproxy==1.1.0
paste==0.9.4
paste==1.0
paste==1.7.3
beaker==0.9.3
flask-security-fork==1.8.0
pyramid-weblayer==.9.11
luigi==2.1.0
luigi==2.7.4
django-cms-patched==3.9.16
django-cms-patched==3.4.2
invenio-search==0.1.2
swauth==1.0.9
kotti==1.3.1
django-html5-appcache==.9.2.9
django-dajaxice-ng==0.1.6
invenio==1.9.1
invenio==1.1.1
mosql==.9.9
quintagroup-seoptimizer==3.9.3
pkgcore==0.4.7.11
django-pluggable-filebrowser==3.4.1
python-pptx==0.6.11
mkdocs-material==0.9.9
lambda-tools==0.1.1
cairosvg==1.9.20
pyxmlsecurity==.9.8
conn-check==1.9.17
tmc==0.3.4
mantissa==0.6.13
django-relatives==.9.2.9
pwd==1
pwd==.9
django-safedelete==0.3.2
form-designer==.9.7
ftw.dashboard.portlets.postit==1.3.3
ldap3==0.9.5.3
ldap3==2.3
mtprotoproxy==0.9.9
zeep==.9.3.9
thorn==1.0.9
python-dbusmock==0.15.0
pysam==0.11.1
supervisor==3.4
supervisor==3.3.2
supervisor==3.3
supervisor==3.2.3
supervisor==3.2
supervisor==3.1.3
supervisor==3.9.0
soappy-py3==0.12.5
cmsplugin-filer==0.9.9
pirate-get==0.2.7
newrelic==1.1.0.193
newrelic==2.106.9.86
mixminion==.9.9.1
collective-contact-core==1.9
pip==1.3
pip==5.9
pip==6.0.9
products.cmfcontentpanels==1.4.0
crypt==1
crypt==.9
plone.app.linkintegrity==1.9.1
django-allauth==.9.27.9
django-allauth==.9.33.9
tqdm==4.11.1
python3-saml==1.1.3
python3-saml==1.1.9
python3-saml==1.2.5
aiohttp==0.16.2
plone.app.contentmenu==1.1.6
kinto-dist==8.2.2
kinto-dist==6.0.1
kinto-dist==6.9.1
sesame==.9.2.9
django-cms==2.1.2
django-cms==2.1.3
django-cms==3.9.13
django-cms==3.2.3
django-cms==3.4.2
markdown2==1.0.1.13
markdown2==1.0.1.14
trash-cli==0.17.1.13
restauth==0.6.2
pycrypto==2.5
django-registration==1.6
cryptography-vectors==0.9.0
cryptography-vectors==1.9.1
stargate==.9.3
wpull==0.1006.0
